@media (min-width: 640px) {
    .list .item{
        transform-style: preserve-3d;
        transform: perspective(1000px);
        cursor: pointer;
        transition: transform 0.6s;
        transition: .6s;
        overflow-y: hidden;
    
    }
    .list .item:hover{
        overflow-y: visible;
        transition: .4s;
        transform: perspective(1000px) translateZ(60px) translateY(-30px);
    }
    
    .list .item:hover{
        z-index: 100;
        transition: .4s;
        height: 448px;
        max-height: 600px;
    }
    
    .list .item .box p {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out 1s, visibility .2s; /* visibility delay is 2.6s (2s + 0.6s) */
    
    }
    
    .list .item:hover .box p {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s 0.2s; /* transition opacity with a delay of 2s */
    }
    
    
    
    /* 
    .list .item:hover + *{
        transition: .5s;
        transform: perspective(1000px) translateZ(-50px);
    }
    
    .list .item:hover + * + *{
        transition: .5s;
        transform: perspective(1000px) translateZ(-50px);
    }
    
    .list .item:has(+ *:hover){
        transition: .5s;
        transform: perspective(1000px) translateZ(-50px);
    }
        
    
    .list .item:has(+ * + *:hover){
        transition: .5s;
        transform: perspective(1000px) translateZ(-50px);
    }
         */
    
}

@media (max-width: 640px) {
    
}
.list .item .box p {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out 1s, visibility .2s; /* visibility delay is 2.6s (2s + 0.6s) */
}